* {
    margin: 0;
    padding: 0;
    border: none;
    
}

body {
    font-family: Lucida console, sans-serif;
    font-weight: 300;
    color: #12100E;
    background-color: #7E643E;
}

/* header and menu rules*/

h1 {
    color: #12100E;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 280%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo {
    float: left;
}

#menu {
    font-size: 120%;
    text-transform: uppercase;
    letter-spacing: 2px;
    float: right;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#menu, #logo {
    line-height: 50px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right : 20px;
    
}

#menu a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid #12100E;
}

/* main image */
.p-top {
    padding-top: 100px;
}
#main-image {
    padding-top: 55%;
    background-size: cover;
    width: 100%;
    background: url('../images/Path-of-Exile-Featured-Image2.jpg') no-repeat center center;
    
}
/* Overview */

#overview {
    font-size: 180%;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
} 

#overview-text {
    font-size: 115%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    letter-spacing: 1px;  
}

/* Trailer */
.trailer {
     
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: calc(100% - 60px);
    max-width: 800px; 
}
.trailer::before {
        display: block;
        content: "";
         padding-top: 56.25%; }

.trailer iframe{
        position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      }

      /* Footer */

footer {
        background-color: #12100E;
        font-size: 200%;
        width: 100%;
        height: 200px;
        text-align: center;
        padding-top: 50px;
        color:#7E643E;
        margin-top: 50px;
        
      }

      footer i {
        color: #F8F2E5;
      }
